Repository hyugorix/ctx-router: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Add core context and routing functionality with error handling
  src/ctx/ctx.err.ts
  src/ctx/ctx.router.ts
  src/ctx/ctx.types.ts
  src/example/api/health/healthPing.api.ts
  src/example/api/health/index.ts
  src/example/api/index.ts
  src/example/api/user/index.ts
  src/example/api/user/userDetail.api.ts
  src/example/api/user/userUpdate.api.ts
  src/example/express.ts
  src/example/router.ts
  src/index.ts
  src/transformer/express.ts
  src/transformer/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Refactor context transformation and enhance CtxRouter with pre-execution and error handling
  src/ctx/ctx.router.ts
  src/defaultHandler/handle.beforeExec.ts
  src/defaultHandler/handle.onError.ts
  src/index.ts
  src/transform/fromExpress.ts
  src/transform/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Update pnpm-lock.yaml to reflect changes in dependencies
  pnpm-lock.yaml
Due: prettier --write --cache

Update version to 1.0.1 in package.json
  package.json
Due: prettier --write --cache

Enhance context module by exporting CtxError for improved error handling
  src/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

1.0.2
  package.json
Due: prettier --write --cache

Refactor CtxRouter exec method to use context object directly
  README.md
  src/ctx/ctx.router.ts
  src/example/express.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

1.0.3
  package.json
Due: prettier --write --cache

Refactor CtxRouter to implement hooks for pre-execution, error handling, and finalization
  src/ctx/ctx.router.ts
  src/example/router.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Add @redis/client dependency to package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

Enhance CtxRouter with logging and Redis stream capabilities
  src/ctx/ctx.router.ts
  src/ctx/ctx.types.ts
  src/defaultHandler/handle.onError.ts
  src/example/api/health/healthPing.api.ts
  src/example/config/ctx.redis.config.ts
  src/example/express.ts
  src/example/router.ts
  src/transform/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Update Node.js version in .tool-versions from 22.16.0 to 22.20.0
  .tool-versions
Due: none

refactor(types): update context types with new fields and remove base API interface
  src/ctx/ctx.types.ts
  src/defaultHandler/handle.beforeExec.ts
  src/example/api/user/userDetail.api.ts
  src/example/api/user/userUpdate.api.ts
  src/index.ts
  src/transform/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write --cache: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,yaml,yml})
  eslint --fix --max-warnings=0 --cache: any of: *.{js,ts,tsx}
